.container {
  margin-top: 50px;
}
.h1 {
  font-size: 3rem;
  font-weight: 600;
}
.btn-outline-info:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
.btn-primary:active:focus,
.btn-outline-info:active:focus {
  box-shadow: none;
}

@keyframes move-in {
  from {
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.car-title,
.top-btns {
  opacity: 0;
  animation: move-in ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.dashboard-img {
  animation: 1.5s fadeInUpCar;
}
@keyframes fadeInUpCar {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.service-title h4 {
  position: relative;
  display: inline-block;
}
.service-icon {
  position: relative;
}
.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.about-info-text h2 {
  margin-bottom: 23px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 0.9;
}
.about-info-text p {
  padding: 0 100px;
  font-size: 18px;
  margin-bottom: 26px;
  position: relative;
}
.about-content p {
  margin-bottom: 0;
}
.about-info-text a {
  margin-bottom: 20px;
  position: relative;
}
.service-icon i {
  font-size: 30px;
  color: #0dcaf0;
  margin-bottom: 20px;
  display: inline-block;
}
.service-wrap {
  border: 1px solid #d1cece;
  padding: 30px 10px;
  position: relative;
}

.service-wrap p {
  position: relative;
  font-weight: 600;
}

.service-wrap:hover {
  background-image: url(https://wallpapercave.com/wp/wp3921706.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  transition: all 1s;
}

.service-wrap:hover:before {
  background: rgba(0, 0, 0, 0.2901960784313726);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  content: "";
  top: 0;
  opacity: 1;
}

.service-wrap:hover h4,
.service-wrap:hover p {
  color: #fff;
  font-weight: 600;
}
.service-wrap h4 {
  font-weight: 600;
  color: #1e2331;
  margin-bottom: 17px;
  font-size: 23px;
  text-transform: capitalize;
  position: relative;
}
.service-wrap a {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: #0dcaf0;
}
