.container {
  margin-top: 50px;
}
.h1 {
  font-size: 3rem;
  font-weight: 600;
}
.btn-outline-info:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
.btn-primary:active:focus,
.btn-outline-info:active:focus {
  box-shadow: none;
}

@keyframes move-in {
  from {
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.car-title,
.top-btns {
  opacity: 0;
  animation: move-in ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.dashboard-img {
  animation: 1.5s fadeInUpCar;
}
@keyframes fadeInUpCar {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.service-title h4 {
  position: relative;
  display: inline-block;
}
.service-icon {
  position: relative;
}
.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.about-info-text h2 {
  margin-bottom: 23px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 0.9;
}
.about-info-text p {
  padding: 0 100px;
  font-size: 18px;
  margin-bottom: 26px;
  position: relative;
}
.about-content p {
  margin-bottom: 0;
}
.about-info-text a {
  margin-bottom: 20px;
  position: relative;
}
.service-icon i {
  font-size: 30px;
  color: #0dcaf0;
  margin-bottom: 20px;
  display: inline-block;
}
.service-wrap {
  border: 1px solid #d1cece;
  padding: 30px 10px;
  position: relative;
}

.service-wrap p {
  position: relative;
  font-weight: 600;
}

.service-wrap:hover {
  background-image: url("../../assets/service_background-img.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  transition: all 1.5s;
}

.service-wrap:hover:before {
  background: rgba(0, 0, 0, 0.2901960784313726);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  content: "";
  top: 0;
  opacity: 1;
}

.service-wrap:hover h4,
.service-wrap:hover p {
  color: #fff;
  font-weight: 600;
}
.service-wrap h4 {
  font-weight: 600;
  color: #1e2331;
  margin-bottom: 17px;
  font-size: 23px;
  text-transform: capitalize;
  position: relative;
}
.service-wrap a {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: #0dcaf0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #0dcaf0;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 35px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec-title h2:before {
  content: "";
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #0dcaf0;
  margin: auto;
  display: flex;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2 {
  color: #ffffff;
}

.sec-title.text-center h2:before {
  left: 50%;
  margin-left: -25px;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 5px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #0dcaf0;
}

.btn-style-one:hover {
  background-color: #0dcaf0;
  color: #ffffff;
}
.about-section {
  position: relative;
  padding-top: 120px;
}

.about-section .sec-title {
  margin-bottom: 15px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.about-section .content-column .inner-column {
  position: relative;
  animation: 1.5s fadeInUpAbout;
}

@keyframes fadeInUpAbout {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.about-section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 20px;
}

.about-section .image-column {
  position: relative;
}

.about-section .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background: orange;
  padding: 5px 10px;
  left: 92px;
  border-radius: 50px;
  width: auto;
}
.about-section .image-column .inner-column .author-desc h2 {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.about-section .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}
.about-section .image-column .inner-column:before {
  content: "";
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: 3px;
  background: transparent;
  z-index: 0;
  border: 40px solid #0dcaf0;
}

.about-section .image-column .image-1 {
  position: relative;
}

.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  border-radius: 46px;
}

@media only screen and (max-width: 992px) {
  .about-section .content-column .inner-column {
    padding-top: 120px;
  }
}
