.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.logo_img {
  width: 120px;
}
.navbar-toggler {
  color: rgb(54, 191, 255);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item {
  color: rgb(143, 143, 143);
  margin-right: 30px;
  font-weight: 600;
}
.nav-item:hover {
  color: #fff;
  background-color: rgb(54, 191, 255);
  border-radius: 5px;
}
.login {
  font-weight: 600;
  color: rgb(143, 143, 143);
}
