.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.logo_img {
  width: 120px;
}
.navbar-toggler {
  color: rebeccapurple;
}
.nav-item {
  color: rgb(143, 143, 143);
  margin-right: 30px;
  font-weight: 600;
}
.nav-item:hover {
  color: rgb(247, 6, 255);
}
.login {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 600;
}
.login:hover {
  color: #fff;
  background-color: rgb(255, 166, 0);
}
